doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Web Interface
    link(rel='stylesheet', type='text/css', href='../CSS/style.css')
    script(src='../JS/script.js')
    style.
  body()
    .devicediv
      h1.deviceName #{name}
      .lightbulbdiv
        img#lightbulb(src='../Images/lightbulb.png')
        img#overlay(style='background-color: rgba(#{RValue},#{GValue},#{BValue},#{IValueCSS})', src='../Images/overlay.png')
      p.E Description: #{Description}
      p.deviceStatusText#deviceStatus(style='color: #{statusColour}', onclick='changeStatus()') #{status}
      //- .slidecontainer
      //-   p
      //-     input#RValue.slider(type='range', min='0', max='255', value='#{RValue}', oninput='changeBulb()')
      //-     |                 R: 
      //-     stan#RNumber #{RValue}
      //- .slidecontainer
      //-   p
      //-     input#GValue.slider(type='range', min='0', max='255', value='#{GValue}', oninput='changeBulb()')
      //-     |                 G: 
      //-     stan#GNumber #{GValue}
      //- .slidecontainer
      //-   p
      //-     input#BValue.slider(type='range', min='0', max='255', value='#{BValue}', oninput='changeBulb()')
      //-     |                 B: 
      //-     stan#BNumber #{BValue}
      //- .slidecontainer
      //-   p
      //-     input#IValue.slider(type='range', min='0', max='100', value='#{IValue}', oninput='changeBulb()')
      //-     |                 Intensity: 
      //-     stan#INumber #{IValue}
